__pycache__/
.ipynb_checkpoints/
.env
models/
data/processed/
*.pkl
*.joblib


# Datasets
data/processed/
data/raw/*.csv
*.pkl

# Modèles entraînés
models/
models/saved_models/

# Notebooks temporaires
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Environnements
.env
.venv


# Data
data/raw/
data/processed/

# Models
models/
*.pkl

# Notebooks checkpoints
.ipynb_checkpoints/

# Environments
.env
__pycache__/
